{% extends 'base.html' %}

{% block styles %}
<style>
body {
    background-color: #7a1b1b;
    {% if bg_image %}background-image:url({{ bg_image }});{% endif %}
    background-size:cover;
    }
</style>
{% endblock styles %}


{% block content %}
<div class=''>
    <h1>HOME PAGE</h1>
    <div>
        <h4>Hello~ {{ request.user }}</h4>
        <!--{{ request.user.is_anonymous }}-->
    </div>
    <div class='col-sm-6 col-sm-offset-3'>
        <form method="POST" action="{% url 'account:login' %}" role="form">
            {% csrf_token %}
            <button class='btn btn-primary' type="submit" >Info</button>
        </form>
        <form method="GET" action="{% url 'account:delete' %}" role="form">
	        <button class='btn btn-primary' type="submit" >Delete User</button>
	    </form>
        <p></p>
        <form method="GET" action="{% url 'account:logout' %}" role="form">
	        <button class='btn btn-lg btn-success' type="submit" >Logout</button>
	    </form>

    </div>
</div>
{% endblock content %}