{% extends "base.html" %}

{% block styles %}
<style>
body {
      background-color: #005555;
    }
    .btn-link {
      color: #ead61c;
      text-shadow: none;
    }
    .btn-link:hover {
      color: #000000;
    }
</style>
{% endblock styles %}


{% block content %}
<div class=''>
    <h1>LOGIN PAGE</h1>
    <div>
        {{ request.user }}
        {{ request.user.is_anonymous }}
    </div>
    <div class='col-sm-6 col-sm-offset-3'>
        <form method="POST" action="{% url 'account:login' %}" role="form">
            {% csrf_token %}
            {{ loginForm.as_p }}
            <!--<p>Email:  <input name="email" type="email" required></p>-->
            <!--<p>Name:  <input name="password" type="password" required></p>-->
            <p><button class='btn btn-primary' type="submit" >Login</button></p>
        </form>
    </div>
</div>
{% endblock content %}